<div class="footer">
    <p>京ICP备07040087 2004-2012 中国西部人才开发基金会</p>
    <p>地址：北京市海淀区长春桥路6号国家行政学院欣正大厦6层 邮政编码：100089 邮箱：xirenhui@163.com</p>
    <p>电话：010-68928975 传真：010-68928974</p>
</div>
<script>
    $(function(){
        $(".nav-box .nav>li").hover(function(){
            $(this).addClass('on').find('ul').stop().slideDown(300);
        },function(){
            $(this).removeClass('on').find('ul').stop().slideUp(200);
        });
        $(".news-list ul li").hover(function(){
            $(".news-list ul li").removeClass('on');
            var t = $(this).index()*30;
            $(this).addClass('on');
            $(this).find('img').css('top',-t);
        },function(){
            //$(this).removeClass('on');
        });
        $(".news-m-right ul li").hover(function(){
            $(".news-m-right ul li").removeClass('on');
            $(this).addClass('on');
        });
    });
    Caroursel.init($('.caroursel'));
</script>