<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">

<!-- No Baidu Siteapp-->
<meta http-equiv="Cache-Control" content="no-siteapp"/>

<!-- HTML5 shim for IE8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<script src="__TMPL__Public/js/jquery.min.js"></script>
<script src="__TMPL__Public/js/jquery.jslides.js"></script>
<script src="__TMPL__Public/js/jquery.carousel.js"></script>
<link href="__TMPL__Public/css/css.css" rel="stylesheet">