<div class="header">
    <div class="top clearfix">
        <div class="logo">
            <h1><a href="__ROOT__">泛海扬帆</a></h1>
        </div>
        <div class="top-info">
			<h2><a href="#">基金会</a></h2>
        </div>
    </div>
    <div class="nav-box">
        <!-- <ul class="p-ul">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
				 <a href="list.html">新闻</a>
                <ul>
                    <li><a href="list.html">最新资讯</a></li>
                    <li><a href="list.html">媒体报告</a></li>
                    <li><a href="list.html">通知公告</a></li>
                </ul>
            </li>
            <li>
                <a href="帆友港湾.html">帆友港湾</a>
            </li>
            <li>
                <a href="项目库.html">项目库</a>
            </li>
            <li>
               <a href="下载中心.html">下载中心</a>
            </li>
            <li>
				<a href="联系我们.html">关于我们</a>
                <ul>
                    <li><a href="联系我们.html">项目介绍</a></li>
                    <li><a href="联系我们.html">项目大记事</a></li>
                    <li><a href="联系我们.html">联系我们</a></li>
                </ul>
            </li>
        </ul> -->
        <php>
            $menu_root_ul_id="main-menu";
            $filetpl="<a href='\$href' target='\$target'>\$label</a>";
            $foldertpl="<a class='dropdown-toggle' href='\$href' target='\$target'>\$label</a>";
            $ul_class="dropdown-menu" ;/*内部ul标签的class属性值*/
            $li_class="" ;/*内部li标签的class属性值*/
            $menu_root_ul_class="nav";/*菜单根节点ul标签的class属性值*/
            $showlevel=6;/*显示菜单的层级*/
            $dropdown='dropdown';/*含有子菜单的li标签的class属性值,用于控制多级菜单的折叠*/
        </php>
        {:sp_get_menu("main",$menu_root_ul_id,$filetpl,$foldertpl,$ul_class,$li_class,$menu_root_ul_class,$showlevel,$dropdown)}
    </div>
</div>