<admintpl file="header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:U('AdminPage/index')}">{:L('PORTAL_ADMINPAGE_INDEX')}</a></li>
			<li class="active"><a href="{:U('AdminPage/add')}">{:L('PORTAL_ADMINPAGE_ADD')}</a></li>
		</ul>
		<form action="{:U('AdminPage/add_post')}" method="post" class="form-horizontal js-ajax-forms" enctype="multipart/form-data">
			<input type="hidden" name="post[post_type]" value="2">
			<div class="row-fluid">
				<div class="span9">
					<table class="table table-bordered">
						<tr>
							<th width="80">标题</th>
							<td>
								<input type="text" style="width: 400px;" name="post[post_title]" id="title" value="" placeholder="请输入标题"/>
								<span class="form-required">*</span>
							</td>
						</tr>
						<tr>
							<th>模版</th>
							<td>
								<php>
								$tpl_list=sp_admin_get_tpl_file_list();
								unset($tpl_list['page']);
								</php> 
								<select style="min-width: 290px;" name="smeta[template]">
									<option value="page">page{:C("TMPL_TEMPLATE_SUFFIX")}</option>
									<foreach name="tpl_list" item="vo">
									<option value="{$vo}">{$vo}{:C("TMPL_TEMPLATE_SUFFIX")}</option>
									</foreach>
								</select>
							</td>
						</tr>
						<!-- <tr>
							<th>关键词</th>
							<td><input type="text" name="post[post_keywords]" id="keywords" value="" style="width: 280px" placeholder="请输入关键字"> 多关键词之间用空格隔开</td>
						</tr>
						<tr>
							<th>摘要</th>
							<td><textarea name="post[post_excerpt]" id="description" style='width: 98%; height: 200px;'></textarea></td>
						</tr> -->
						<tr>
							<th>邮政编码</th>
							<td><input type="text" name="post[postcode]" id="keywords" value="" style="width: 280px" placeholder="请输入邮政编码"> </td>
						</tr>
						<tr>
							<th>电话</th>
							<td><input type="text" name="post[telephone]" id="keywords" value="" style="width: 280px" placeholder="请输入电话"> </td>
						</tr>
						<tr>
							<th>传真</th>
							<td><input type="text" name="post[fax]" id="keywords" value="" style="width: 280px" placeholder="请输入传真"> </td>
						</tr>
						<tr>
							<th>邮箱</th>
							<td><input type="text" name="post[email]" id="keywords" value="" style="width: 280px" placeholder="请输入邮箱"> </td>
						</tr>
						<tr>
							<th>地址</th>
							<td><input type="text" name="post[address]" id="keywords" value="" style="width: 280px" placeholder="请输入地址"> </td>
						</tr>

						<tr>
							<th>内容</th>
							<td>
								<script type="text/plain" id="content" name="post[post_content]"></script>
							</td>
						</tr>
					</table>
				</div>
				<div class="span3">
					<table class="table table-bordered">
						<tr>
							<th>缩略图</th>
						</tr>
						<tr>
							<td>
								<div style="text-align: center;">
									<input type="hidden" name="smeta[thumb]" id="thumb" value="">
									<a href="javascript:upload_one_image('图片上传','#thumb');">
										<img src="__TMPL__Public/assets/images/default-thumbnail.png" id="thumb-preview" width="135" style="cursor: hand"/>
									</a>
									<input type="button" class="btn btn-small" onclick="$('#thumb-preview').attr('src','__TMPL__Public/assets/images/default-thumbnail.png');$('#thumb').val('');return false;" value="取消图片">
								</div>
							</td>
						</tr>
						<tr>
							<th>发布时间</th>
						</tr>
						<tr>
							<td><input type="text" name="post[post_modified]" value="{:date('Y-m-d H:i:s',time())}" class="js-datetime"></td>
						</tr>
						<tr>
							<th>状态</th>
						</tr>
						<tr>
							<td>
								<label class="radio"><input type="radio" name="post[post_status]" value="1" checked>审核通过</label>
								<label class="radio"><input type="radio" name="post[post_status]" value="0">待审核</label>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="form-actions">
				<button class="btn btn-primary js-ajax-submit" type="submit">{:L('ADD')}</button>
				<a class="btn" href="javascript:history.back(-1);">{:L('BACK')}</a>
			</div>
		</form>
	</div>
	<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
	<script type="text/javascript">
		//编辑器路径定义
		var editorURL = GV.WEB_ROOT;
	</script>
	<script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.all.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$(".js-ajax-close-btn").on('click', function(e) {
				e.preventDefault();
				Wind.use("artDialog", function() {
					art.dialog({
						id : "question",
						icon : "question",
						fixed : true,
						lock : true,
						background : "#CCCCCC",
						opacity : 0,
						content : "您确定需要关闭当前页面嘛？",
						ok : function() {
							setCookie("refersh_time", 1);
							window.close();
							return true;
						}
					});
				});
			});
			/////---------------------
			Wind.use('validate','ajaxForm','artDialog',function() {
				//编辑器
				editorcontent = new baidu.editor.ui.Editor();
				editorcontent.render('content');
				try {
					editorcontent.sync();
				} catch (err) {}
				//增加编辑器验证规则
				jQuery.validator.addMethod('editorcontent',function() {
					try {
						editorcontent.sync();
					} catch (err) {}
					return editorcontent.hasContents();
				});
				
				var form = $('form.js-ajax-forms');
				//ie处理placeholder提交问题
				if ($.browser && $.browser.msie) {
					form.find('[placeholder]').each(function() {
						var input = $(this);
						if (input.val() == input
								.attr('placeholder')) {
							input.val('');
						}
					});
				}
				//表单验证开始
				form.validate({
					//是否在获取焦点时验证
					onfocusout : false,
					//是否在敲击键盘时验证
					onkeyup : false,
					//当鼠标掉级时验证
					onclick : false,
					//验证错误
					showErrors : function(errorMap,errorArr) {
						//errorMap {'name':'错误信息'}
						//errorArr [{'message':'错误信息',element:({})}]
						try {
							$(errorArr[0].element).focus();
							art.dialog({
								id : 'error',
								icon : 'error',
								lock : true,
								fixed : true,
								background : "#CCCCCC",
								opacity : 0,
								content : errorArr[0].message,
								cancelVal : '确定',
								cancel : function() {
									$(errorArr[0].element).focus();
								}
							});
						} catch (err) {}
					},
					//验证规则
					rules : {
						'post[post_title]' : {required : 1},
						'post[post_content]' : {editorcontent : true}
					},
					//验证未通过提示消息
					messages : {
						'post[post_title]' : {required : '请输入标题'},
						'post[post_content]' : {editorcontent : '内容不能为空'}
					},
					//给未通过验证的元素加效果,闪烁等
					highlight : false,
					//是否在获取焦点时验证
					onfocusout : false,
					//验证通过，提交表单
					submitHandler : function(forms) {
						$(forms).ajaxSubmit({
							url : form.attr('action'), //按钮上是否自定义提交地址(多按钮情况)
							dataType : 'json',
							beforeSubmit : function(arr,$form,options) {
	
							},
							success : function(data,statusText,xhr,$form) {
								if (data.status) {
									setCookie("refersh_time",1);
									//添加成功
									Wind.use("artDialog",function() {
										art.dialog({
											id : "succeed",
											icon : "succeed",
											fixed : true,
											lock : true,
											background : "#CCCCCC",
											opacity : 0,
											content : data.info,
											button : [
											{
												name : '继续添加？',
												callback : function() {
													reloadPage(window);
													return true;
												},
												focus : true
											},
											{
												name : '返回列表',
												callback : function() {
													location.href = "{:U('AdminPage/index')}";
													return true;
												}
											}
											]
										});
									});
								} else {
									alert(data.info);
								}
							}
						});
					}
				});
			});
		////-------------------------
		});
	</script>
</body>
</html>