<admintpl file="header" />
<style type="text/css">
.pic-list li {
	margin-bottom: 5px;
}
</style>
<script type="text/html" id="photos-item-wrapper">
	<li id="savedimage{id}">
		<input id="photo-{id}" type="hidden" name="photos_url[]" value="{filepath}"> 
		<input id="photo-{id}-name" type="text" name="photos_alt[]" value="{name}" style="width: 160px;" title="图片名称">
		<img id="photo-{id}-preview" src="{url}" style="height:36px;width: 36px;" onclick="parent.image_preview_dialog(this.src);">
		<a href="javascript:upload_one_image('图片上传','#photo-{id}');">替换</a>
		<a href="javascript:(function(){$('#savedimage{id}').remove();})();">移除</a>
	</li>
</script>
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:U('AdminPost/index')}">{:L('PORTAL_ADMINPOST_INDEX')}</a></li>
			<li><a href="{:U('AdminPost/add',array('term'=>empty($term['term_id'])?'':$term['term_id']))}" target="_self">{:L('PORTAL_ADMINPOST_ADD')}</a></li>
			<li class="active"><a href="#">{:L('PORTAL_ADMINPOST_EDIT')}</a></li>
		</ul>
		<form action="{:U('AdminPost/edit_post')}" method="post" class="form-horizontal js-ajax-forms" enctype="multipart/form-data">
			<div class="row-fluid">
				<div class="span9">
					<table class="table table-bordered">
						<tr>
							<th width="80">分类</th>
							<td colspan="2">
								<select multiple="multiple" style="max-height: 100px; width: 400px;height: 200px;"name="term[]">{$taxonomys}</select>
								<div>windows：按住 Ctrl 按钮来选择多个选项,Mac：按住 command 按钮来选择多个选项</div>
							</td>
						</tr>
						<tr>
							<th>标题</th>
							<td colspan="2">
								<input type="hidden" name="post[id]" value="{$post.id}">
								<input type="text" style="width: 400px;" name="post[post_title]" required value="{$post.post_title}" placeholder="请输入标题"/>
								<span class="form-required">*</span>
							</td>
						</tr>
						<tr>
							<th>关键词</th>
							<td colspan="2">
								<input type="text" name="post[post_keywords]" style="width: 400px" value="{$post['post_keywords']}" placeholder="请输入关键字">
								多关键词之间用空格或者英文逗号隔开
							</td>
						</tr>
	
						<tr>
							<th>文章来源</th>
							<td colspan="2">
								<input type="text" name="post[post_source]" value="{$post['post_source']}" style="width: 400px" placeholder="请输入文章来源">
							</td>
						</tr>
						<tr>
							<th>摘要</th>
							<td colspan="2">
								<textarea name="post[post_excerpt]" style="width: 98%; height: 50px;" placeholder="请填写摘要">{$post.post_excerpt}</textarea>
							</td>
						</tr>
						<tr>
							<th rowspan="5" valign="middle">项目库</th>
							<th width="100">项目负责人</th>
							<td>
								<input type="text" style="width:400px;" name="post[project_leader]" id="project_leader"  value="{$post['project_leader']}" placeholder="请输入项目负责人"/>
								仅项目库文章填写
							</td>
						</tr>
						<tr>
							<th>创业类型</th>
							<td>
								<input type="text" style="width:400px;" name="post[entrepreneurial_type]" id="entrepreneurial_type"  value="{$post['entrepreneurial_type']}" placeholder="请输入创业类型"/>
								仅项目库文章填写
							</td>
						</tr>
						<tr>
							<th>申报主体</th>
							<td>
								<input type="text" style="width:400px;" name="post[subject]" id="subject"  value="{$post['subject']}" placeholder="请输入申报主体"/>
								仅项目库文章填写
							</td>
						</tr>
						<tr>
							<th>申报主体类别</th>
							<td>
								<input type="text" style="width:400px;" name="post[subject_type]" id="subject_type"  value="{$post['subject_type']}" placeholder="请输入申报主体类别"/>
								仅项目库文章填写
							</td>
						</tr>
						<tr>
							<th>项目简介</th>
							<td>
								<textarea name="post[project_excerpt]" id="project_excerpt" style="width:75%; height: 50px;" placeholder="请填写项目简介">{$post.project_excerpt}</textarea>
								仅项目库文章填写
							</td>
						</tr>
						<tr>
							<th>内容</th>
							<td colspan="2">
								<script type="text/plain" id="content" name="post[post_content]">{$post.post_content}</script>
							</td>
						</tr>
						<tr>
							<th>相册图集</th>
							<td colspan="2">
								<ul id="photos" class="pic-list unstyled">
									<notempty name="smeta['photo']">
										<foreach name="smeta['photo']" item="vo">
										<php>$img_url=sp_get_image_preview_url($vo['url']);</php>
										<li id="savedimage{$key}">
											<input id="photo-{$key}" type="hidden" name="photos_url[]" value="{$img_url}"> 
											<input id="photo-{$key}-name" type="text" name="photos_alt[]" value="{$vo.alt}" style="width: 200px;" title="图片名称">
											<img id="photo-{$key}-preview" src="{:sp_get_image_preview_url($vo['url'])}" style="height:36px;width: 36px;" onclick="parent.image_preview_dialog(this.src);">
											<a href="javascript:upload_one_image('图片上传','#photo-{$key}');">替换</a>
											<a href="javascript:(function(){ $('#savedimage{$key}').remove();})();">移除</a>
										</li>
										</foreach>
									</notempty>
								</ul>
								<a href="javascript:upload_multi_image('图片上传','#photos','photos-item-wrapper');" class="btn btn-small">选择图片</a>
							</td>
						</tr>
						<tr>
							<th>附件上传</th>
							<td colspan="2">
								<input type="text" name="post[pdf]" id="pdf" value="">
								<a href="javascript:upload_one('附件上传','#pdf','file');"  class="btn btn-small">上传附件

								</a>
								<input type="button" class="btn btn-small" onclick="$('#pdf').val('');return false;" value="取消上传">
							</td>
						</tr>
					</table>
				</div>
				<div class="span3">
					<table class="table table-bordered">
						<tr>
							<td><b>缩略图</b></td>
						</tr>
						<tr>
							<td>
								<div style="text-align: center;">
									<input type="hidden" name="smeta[thumb]" id="thumb" value="{$smeta.thumb|default=''}">
									<a href="javascript:upload_one_image('图片上传','#thumb');">
										<if condition="empty($smeta['thumb'])">
											<img src="__TMPL__Public/assets/images/default-thumbnail.png" id="thumb-preview" width="135" style="cursor: hand"/>
										<else />
											<img src="{:sp_get_image_preview_url($smeta['thumb'])}" id="thumb-preview" width="135" style="cursor: hand"/>
										</if>
									</a>
									<input type="button" class="btn btn-small" onclick="$('#thumb-preview').attr('src','__TMPL__Public/assets/images/default-thumbnail.png');$('#thumb').val('');return false;" value="取消图片">
								</div>
							</td>
						</tr>
						<tr>
							<th>发布时间</th>
						</tr>
						<tr>
							<td><input type="text" name="post[post_date]" value="{$post.post_date}" class="js-datetime" style="width: 160px;"></td>
						</tr>
						<tr>
							<th>评论</th>
						</tr>
						<tr>
							<td><label style="width: 88px"><a href="javascript:open_iframe_dialog('{:U('comment/commentadmin/index',array('post_id'=>$post['id']))}','评论列表')">查看评论</a></label>
							</td>
						</tr>
						<tr>
							<th>状态</th>
						</tr>
						<tr>
							<td>
								<php>
									$status_yes=$post['post_status']==1?"checked":"";
									$status_no=$post['post_status']==0?"checked":"";
									$istop_yes=$post['istop']==1?"checked":"";
									$istop_no=$post['istop']==0?"checked":"";
									$recommended_yes=$post['recommended']==1?"checked":"";
									$recommended_no=$post['recommended']==0?"checked":""; 
								</php>
								<label class="radio"><input type="radio" name="post[post_status]" value="1" {$status_yes}>审核通过</label>
								<label class="radio"><input type="radio" name="post[post_status]" value="0" {$status_no}>未审核</label>
							</td>
						</tr>
						<tr>
							<td>
								<label class="radio"><input type="radio" name="post[istop]" value="1" {$istop_yes}>置顶</label>
								<label class="radio"><input type="radio" name="post[istop]" value="0" {$istop_no}>未置顶</label>
							</td>
						</tr>
						<tr>
							<td>
								<label class="radio"><input type="radio" name="post[recommended]" value="1" {$recommended_yes}>推荐</label>
								<label class="radio"><input type="radio" name="post[recommended]" value="0" {$recommended_no}>未推荐</label>
							</td>
						</tr>
						<tr>
							<th>文章模板</th>
						</tr>
						<tr>
							<td>
								<php>
									$tpl_list=sp_admin_get_tpl_file_list();
									unset($tpl_list['page']);
								</php>
								<select style="min-width: 190px;" name="smeta[template]">
									<option value="">请选择模板</option>
									<foreach name="tpl_list" item="vo">
										<php>$template_selected=$smeta['template']==$vo?"selected":"";</php>
										<option value="{$vo}"{$template_selected}>{$vo}{:C("TMPL_TEMPLATE_SUFFIX")}</option>
									</foreach>
								</select>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="form-actions">
				<button class="btn btn-primary js-ajax-submit" type="submit">提交</button>
				<a class="btn" href="{:U('AdminPost/index')}">返回</a>
			</div>
		</form>
	</div>
	<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
	<script type="text/javascript">
		//编辑器路径定义
		var editorURL = GV.WEB_ROOT;
	</script>
	<script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.all.min.js"></script>
	<script type="text/javascript">
		$(function() {
			
			//setInterval(function(){public_lock_renewal();}, 10000);
			$(".js-ajax-close-btn").on('click', function(e) {
				e.preventDefault();
				Wind.use("artDialog", function() {
					art.dialog({
						id : "question",
						icon : "question",
						fixed : true,
						lock : true,
						background : "#CCCCCC",
						opacity : 0,
						content : "您确定需要关闭当前页面嘛？",
						ok : function() {
							setCookie("refersh_time", 1);
							window.close();
							return true;
						}
					});
				});
			});
			/////---------------------
			Wind.use('validate', 'ajaxForm', 'artDialog', function() {
				//javascript

				//编辑器
				editorcontent = new baidu.editor.ui.Editor();
				editorcontent.render('content');
				try {
					editorcontent.sync();
				} catch (err) {
				}
				//增加编辑器验证规则
				jQuery.validator.addMethod('editorcontent', function() {
					try {
						editorcontent.sync();
					} catch (err) {
					}
					;
					return editorcontent.hasContents();
				});
				var form = $('form.js-ajax-forms');
				//ie处理placeholder提交问题
				if ($.browser && $.browser.msie) {
					form.find('[placeholder]').each(function() {
						var input = $(this);
						if (input.val() == input.attr('placeholder')) {
							input.val('');
						}
					});
				}
				//表单验证开始
				form.validate({
					//是否在获取焦点时验证
					onfocusout : false,
					//是否在敲击键盘时验证
					onkeyup : false,
					//当鼠标掉级时验证
					onclick : false,
					//验证错误
					showErrors : function(errorMap, errorArr) {
						//errorMap {'name':'错误信息'}
						//errorArr [{'message':'错误信息',element:({})}]
						try {
							$(errorArr[0].element).focus();
							art.dialog({
								id : 'error',
								icon : 'error',
								lock : true,
								fixed : true,
								background : "#CCCCCC",
								opacity : 0,
								content : errorArr[0].message,
								cancelVal : '确定',
								cancel : function() {
									$(errorArr[0].element).focus();
								}
							});
						} catch (err) {
						}
					},
					//验证规则
					rules : {
						'post[post_title]' : {
							required : 1
						},
						'post[post_content]' : {
							editorcontent : true
						}
					},
					//验证未通过提示消息
					messages : {
						'post[post_title]' : {
							required : '请输入标题'
						},
						'post[post_content]' : {
							editorcontent : '内容不能为空'
						}
					},
					//给未通过验证的元素加效果,闪烁等
					highlight : false,
					//是否在获取焦点时验证
					onfocusout : false,
					//验证通过，提交表单
					submitHandler : function(forms) {
						$(forms).ajaxSubmit({
							url : form.attr('action'), //按钮上是否自定义提交地址(多按钮情况)
							dataType : 'json',
							beforeSubmit : function(arr, $form, options) {

							},
							success : function(data, statusText, xhr, $form) {
								if (data.status) {
									setCookie("refersh_time", 1);
									//添加成功
									Wind.use("artDialog", function() {
										art.dialog({
											id : "succeed",
											icon : "succeed",
											fixed : true,
											lock : true,
											background : "#CCCCCC",
											opacity : 0,
											content : data.info,
											button : [ {
												name : '继续编辑？',
												callback : function() {
													//reloadPage(window);
													return true;
												},
												focus : true
											}, {
												name : '返回列表页',
												callback : function() {
													location = "{:U('AdminPost/index')}";
													return true;
												}
											} ]
										});
									});
								} else {
									artdialog_alert(data.info);
								}
							}
						});
					}
				});
			});
			////-------------------------
		});
	</script>
</body>
</html>