html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0; font-family:"microsoft yahei";z-index: 1;}
header,footer,section,article,aside,nav,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em{font-weight:normal;}
del,ins,u,s,a{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:14px/1.5 microsoft yahei,\5b8b\4f53;color:#3d3d3d;outline:0;}
body{min-width: 1213px;}
.clear{clear:both; height:0; overflow:hidden;}
.clearfix:before,.clearfix:after{content:"."; display:block; visibility:hidden; height:0; line-height:0; font-size:0;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}

.header{width: 100%;}
.header .top{width: 1198px;margin: 0 auto;}
.logo{width: 226px;height: 25px;float: left;padding-top: 20px; }
.logo h1{width: 100%;}
.logo a{display: block;background: url("../images/logo.png") no-repeat;width: 226px;height: 50px;text-indent: -999px;}
.top-info{float: right;width: 220px;border-radius: 0px 0px 5px 5px;padding-top: 35px; padding-bottom: 10px;}
.top-info h2{font-size: 14px;color: #fff;text-indent: 60px;line-height: 30px; width:100%; height:100%;}
.top-info h2 a{background:url("../images/top-j-log.png") 15px center no-repeat;display: block; text-indent: -1999px; height:45px;width:270px;}

.nav-box{background: #6db3f1;margin-top: 15px;}
.nav{width: 960px;margin:  0 auto;height:58px;}
.nav-box .nav > li{float: left;width: 160px;line-height: 58px;position: relative;z-index: 9999;}
.nav-box .nav > li a{display: block;text-align: center;font-size: 20px;color: #fff;}
.nav-box .nav > li a:hover{background: #fff;color: #61a8ec;}
.nav-box .nav > li.on > a,.nav-box .nav ul.p-ul > li.act > a{color: #61a8ec;background: #fff;}
.nav-box .nav > li ul{background: url("../images/nav-bg.png") repeat;}
.nav-box .nav > li ul {padding-bottom: 20px;display: none;position: absolute;top:58px;left:0;width: 160px;padding-top: 10px;}
.nav-box .nav > li ul li {height:45px;width: 110px;margin: 0 auto;}
.nav-box .nav > li ul li a{font-size: 14px;color: #4c4c4c;line-height: 45px;border-bottom: 1px solid #fff;}
.nav-box .nav > li ul li a:hover{color: #61a8ec;background: none;}

#full-screen-slider { width:100%; height:500px;  position:relative;}
#slides { display:block; width:100%; height:500px; list-style:none; padding:0; margin:0; position:relative}
#slides li { display:block; width:100%; height:100%; list-style:none; padding:0; margin:0; position:absolute}
#slides li a { display:block; width:100%; height:100%; text-indent:-9999px}
#pagination { display:block; list-style:none; position:absolute; left:0; top:460px; z-index:9900;  padding:5px 0px 5px 0; margin:0;width: 100%;text-align: center;}
#pagination li { display:inline-block; list-style:none; width:10px; height:10px; margin-left:15px; border-radius:5px; background:#FFF }
#pagination li a { display:block; width:100%; height:100%; padding:0; margin:0;  text-indent:-9999px;}
#pagination li.current { background:#0092CE}

.main{width: 1198px;margin: 30px auto;}
.category{margin-bottom: 50px;}
.category .cate-left{float: left;width: 720px;}
.category .cate-title{border-bottom: 1px solid #d6d6d6;font-size: 16px;line-height: 22px;margin-bottom: 28px;}
.category .cate-title a span{color:#ddd;}
.category .cate-title p{border-left: 10px solid #1692ff;line-height:30px;margin-bottom: 3px;text-indent: 30px;}
.category .cate-title p.cate-nav-bg{border-left: 0px ;background: url("../images/cate-nav-bg.png") no-repeat;width: 160px;height: 31px; line-height: 35px;color:#fff;margin-bottom: 3px;text-indent: 50px;}
.category .cate-title a{float: right;font-size: 12px;color: #666666;border: 1px solid #1692ff;padding: 0 10px;border-radius: 5px;}
.category .cate-title a:hover{color: #fff;background: #1692ff;}

.news-list ul li{height:20px;line-height: 20px;text-indent: 30px;width:555px;float:right;margin-bottom: 10px;position: relative;}
.news-list ul li:last-child{margin-bottom:0px;}
.news-list ul li img{display: none;margin-right:718px;}
.news-list ul li.on {background: #1692ff url("../images/news-icon.png") 10px center no-repeat;border-radius: 7px 0 0 7px;}
.news-list ul li.on a{color:#fff;}
.news-list ul li.on img{display: block;position:absolute;top:0;right:-146px;border: 1px solid #e6e6e6;}
.news-list ul li.on i{position: absolute;background: url("../images/news-icon-1.png") no-repeat;display: block;width: 8px;height: 10px;top:5px;right:0px;z-index: 2;}
.news-list ul li a{color: #4c4c4c;}
.news-list ul li a:hover{color: #fff;}
.news-list ul li span{float: right;margin-right: 20px;}


.category .cate-right{float:right;width: 430px;}

.notice{overflow: hidden; height:100%;}
.notice .notice-desc{float: left;background: #503E2D;color: #fff;font-size: 12px; float:right; }
.notice .notice-desc p{text-indent: 2em;width:203px;position: relative;background-color:rgba(103,80,50,0.6);height:267px;padding:20px 5px 0 5px;box-sizing:border-box; line-height:25px; color: #e3e3e3;}
.notice .notice-desc p a{color: #e3e3e3;}
.notice .notice-img{width: 200px;float:left;}
.caroursel-box{background: #f0f0f0;padding-top: 0px;margin-top:37px;padding-bottom: 0px;}
.caroursel-box i{background: url("../images/new-icon-3.png") no-repeat;display: block;width: 10px;margin: 0px auto;margin-top:18px; height:9px;}
.caroursel-desc ul li{font-size: 12px;height:75px;overflow: hidden;display: none;padding:0 20px 17px 20px;}
.caroursel-desc ul li p{text-indent: 2em;color: #4c4c4c;line-height: 22px;}
.desc-first-p{text-align:center;line-height:25px;}
.caroursel-desc ul li p a{color: #4c4c4c;}
.caroursel-desc ul li p a:hover{color: #6db3f1;}
.poster-main{position: relative;width: 900px;height: 270px;background:#fff;}
.poster-main a,.poster-main img{display:block;}
.poster-main .poster-list{width: 900px;height: 260px;margin-top: 20px;}
.poster-main .poster-list .poster-item{position: absolute;left: 0px;top: 0px}
.poster-main .poster-list .poster-item img{width: 100%;height:100%;}
.poster-main .poster-btn{position: absolute;height: 100%;width:100px;top: 0px;z-index: 10;opacity: 0.7;}
.poster-main .poster-prev-btn{left: 0px;background: url("../images/btn_l.png") no-repeat center center; background-color: #fff;}
.poster-main .poster-next-btn{right: 0px;background: url("../images/btn_r.png") no-repeat center center;background-color: #fff;}

.cate-gw .but{text-align: right;line-height: -1px;margin-top:0px;padding-top:0px;margin-bottom:6px;}
.cate-gw .but a{font-size: 14px;background: url("../images/news-icon4.png") left center no-repeat;padding-left: 14px;color: #4c4c4c;}
.cate-gw .but a:hover{color: #1692ff;}
.cate-gw ul{display:none;}
.cate-gw ul li{float: left;margin-bottom: 10px;}
.cate-gw ul li.m-r-6{margin-right: 6px;}
.cate-gw ul li a{position: relative;display: block;width: 212px;height:108px; }
.cate-gw ul li a img{width: 212px;height:108px;}
.cate-gw ul li a p{background: url("../images/news-icon-5.png") repeat;width: 100%;height:30px;position: absolute;left:0;bottom:0;text-align: center;line-height: 30px;color: #fff;font-size: 12px;}

.clearfix .cate-title .c{border:0;background:url("../images/c-icon.png") no-repeat; height:30px;}
.clearfix .cate-title .c span{background:#1692ff;line-height:24px;color:#fff;height:24px;float:left;margin-left:25px;margin-top:6px;width:135px;}

.news-m-img{float: left;}
.news-m-img img{width: 685px;height:320px;}
.news-m-right{float: right;width: 430px;}
.news-m-right ul li{line-height: 30px;}
.news-m-right ul li.on{border-bottom: 0px dotted  #dedede;}
.news-m-right ul li.on a{font-size: 16px;color: #333;font-weight: bold;}
.news-m-right ul li p{line-height: 20px;font-size: 12px;color: #9c9c9c;padding:20px 10px;display: none;width:390px;letter}
.news-m-right ul li.on p a{font-size: 12px;color: #9c9c9c;background: none;font-weight: normal;text-indent: 0;padding-left: 0;}
.news-m-right ul li.on p{display:block;}
.news-m-right ul li span{float: right;color:#1692ff;}
.news-m-right ul li a{font-size: 14px;color: #4c4c4c;background: url("../images/news-icon-6.jpg") left center no-repeat; padding-left: 10px;}
.cate-left h3 #gw-icon{border-left:0px;text-indent:0px;padding-left: 0px;text-align:center;width:90px;float:left;background: #1692ff;color:#fff;cursor:pointer;}
.cate-left h3 #hz-icon{border-left:0px;text-indent:0px;padding-left: 0px;text-align:center;width:90px;float:left;background: #fff; color:black;cursor:pointer;}

.friend{height:110px;width:721px;}
.friend a{width:130px;height:60px;line-height:60px;text-align:center;background:#1692ff;color:#fff;float:left;margin:10px 7px;}
.jjh{height:110px;background: url("../images/jjh-icon.png") 60px 0 no-repeat;text-align:center;line-height:150px;font-size: 20px;}
.cate-right .jjh a {color:#1692ff;}

body{position: relative;}
body>.ewm{position: absolute;bottom:132px;right:10px;z-index:9;width:145px;height:150px;background:#fff;}
body>.ewm img{ margin:0 auto;width:100px;height:100px;margin-left:22px;}
body>.ewm p{text-align: center;font-size: 13px;margin-top:10px;color:#a7a7a7;line-height: 16px;}

.footer{width: 100%;background: #6db3f1;padding: 20px 0;}
.footer p{font-size: 12px;color: #fff;text-align: center;line-height: 24px;}


.content-main{width: 962px;border-left: 1px solid #eaeaea;border-right:1px solid #eaeaea;background: #fafafa;margin: 0 auto;}
.fygw-tit{padding: 45px 0;margin-left: 30px;}
.fygw-tit h3{background: url("../images/fygw-tit.png") no-repeat;width: 233px;height: 43px;line-height: 52px;color: #fff;font-size: 22px;text-indent: 80px;}
.fygw-list ul li{float: left;width: 265px;float: left;margin: 0 27px 40px 27px;}
.fygw-list ul li .title{padding: 5px;border: 1px solid #dedede;}
.fygw-list ul li img{width: 253px;height:209px;}
.fygw-list ul li .title a{position: relative;display: block;width: 253px;height:209px;}
.fygw-desc{background: url("../images/news-icon-5.png") repeat;width: 100%;position: absolute;left:0;bottom:0px;color: #fff;font-size: 12px;padding: 5px 0;}
.fygw-desc p{font-size: 16px;padding-left: 20px;line-height: 1.8;}
.fygw-desc span{background: url("../images/date-icon.png") 20px center no-repeat; padding-left:40px;}
.fygw-list ul li .desc{padding: 20px 20px 0 20px;line-height: 24px;border-bottom: 1px dashed #dfe1e3;height:50px;overflow: hidden;}
.fygw-list ul li .desc a{color: #4c4c4c;}
.fygw-list ul li .desc a:hover{color: #3B9938;}

.list-box{margin-top: 30px;}
.list-nav{width: 860px;margin: 0 auto;padding: 0px 0;border-bottom: 3px solid #3B9938;position: relative;}
.list-nav-box{padding: 40px 0;}
.list-nav i{background: url("../images/list-nav.png") no-repeat;width: 35px;height: 43px;display: block;position: absolute;top:-6px;left:-35px;}
.list-nav ul{border-left: 3px solid #3B9938;}
.list-nav ul li{float: left;line-height: 28px;border-top:3px solid #3B9938;border-right: 3px solid #3B9938;}
.bor-l-3{border-left: 0px solid #3B9938;}
.list-nav ul li a{font-size: 18px;color: #333;padding: 0px 20px;height:100%;}
.list-nav ul li.on a,.list-nav ul li a:hover{background: #3B9938;color: #fff;border-top:3px solid #3B9938;border-bottom: 5px solid #3B9938;}
.list-dsj-nav{width: 200px;float: left;}
.list-pro-nav{width: 100px;float: left;margin-left:15px;}

.left-nav{width: 100px;margin: 0 auto;border-right: 1px solid #a0a0a0; border:}
.left-nav li a{display: block;text-align: center;font-size: 18px;color: #333;line-height: 22px;}
.left-nav li{position: relative;margin-bottom: 20px;line-height: 22px;}
.left-nav li i{position: absolute;background: url("../images/lis-nav-icon.jpg") no-repeat;width: 22px;height:22px;right:-11px;top:0px;}
.left-nav li.on i,.left-nav li.act i{background: url("../images/lis-nav-icon-on.jpg") no-repeat;}
.left-nav li.on a,.left-nav li.act a{color: #3B9938}
.left-nav li a:hover{color: #3B9938}

.list-dsj {float: right;width: 700px;}
.list-dsj ul li{position: relative;padding-bottom: 50px;}
.list-dsj ul li .list-dsj-tit{position: absolute;top:-30px;width: 700px;line-height: 30px;}
.list-dsj ul li .list-dsj-tit .dsj-date{position:relative;width: 165px;float: left;font-size: 12px;text-align: center;}
.list-dsj ul li .list-dsj-tit .dsj-date i{background: url("../images/list-con-icon.jpg") no-repeat;display: block;width: 20px; height:20px;position: absolute;top:5px;right:-10px;}
.list-dsj ul li .list-dsj-tit .dsj-tit{width: 420px;float: left;padding-left: 20px;}
.list-dsj ul li .list-dsj-tit .dsj-tit a{font-size: 16px;color: #4e4e4e;}
.list-dsj .left{float: left;width: 165px;}
.list-dsj .left img{border: 2px solid #fff;}
.list-dsj .right{float: left;width: 420px;overflow: hidden;padding: 10px 0;border-left: 2px solid #797979;}
.list-dsj .right .right-con{padding-left: 20px;font-size: 14px;color: #4e4e4e;}


.list-pro{width: 745px;float: left;margin-left: 50px;}
.list-pro ul li{width: 765px;height:268px;overflow: hidden;margin-bottom: 40px;}
.list-pro .pro-img {padding: 5px;border: 1px solid #dfe1e3;background: #fff;width: 385px;float: left;}
.list-pro .pro-img a{display: block;width: 385px;height:255px;}
.list-pro .pro-img img{width: 385px;height:255px;}
.pro-con{width: 325px;float: left;overflow: hidden;margin-left: 30px;}
.pro-con dl dt a{color: #333;font-size: 16px;line-height: 40px;}
.pro-con dl dd{background: url("../images/pro-bg.jpg") repeat;line-height: 26px;overflow: hidden;font-size: 14px;}
.pro-con dl dd span{width: 130px;float: left;display: block;color: #999999;}
.pro-con dl dd p{width: 195px;float: left;display: block;}
.content-box{padding-bottom: 40px;}
.down-list{padding-bottom: 30px;}
.down-list table{width: 705px;margin: 0 auto;}
.down-list table th{font-size: 16px;color: #333333;line-height: 50px;border-bottom: 1px dashed }
.down-list table td{font-size: 14px;color: #333333;line-height: 40px;border-bottom: 1px dashed }
.down-list table td.down-tit a{color: #333;background: url("../images/td-bg.jpg") left center no-repeat;padding-left: 15px;}
.down-list table td.down-icon a{background: url("../images/down-icon.jpg") no-repeat;width: 30px;height: 25px;display: block;}
.content-box{width: 590px;margin: 0 auto;}
.content-title h3{text-align: center;font-size: 20px;line-height: 30px;}
.content-title{border-bottom: 1px solid #c9c9c9;}
.content-title p{text-align: right;}
.content-title p span{background: url("../images/list-con-icon.jpg") left center no-repeat;padding-left: 30px;color: #797979;font-size: 14px;line-height: 30px;}
.content{padding: 30px 0;}
.list ul li{float: left;width: 385px;background: #fff;border: 1px solid #dedede;padding: 5px;margin-bottom: 30px;margin-left: 53px;margin-right: 15px;}
.list ul li dl{width: 90%;margin: 0 auto;}
.list ul li dt{overflow: hidden;border-bottom: 1px solid #dcdcdc;line-height: 30px;}
.list ul li dt a{color: #333;font-size: 16px;}
.list ul li dt a:hover{color: #3B9938;}
.list ul li dd {color: #333;font-size: 14px;height:45px;line-height: 1.5;overflow: hidden;}
.list ul li dt span{float: right;background: url("../images/list-date.jpg") left center no-repeat;padding-left: 18px;}
/*最新资讯开始*/
.content-zixun{}
.content-zixun ul{height:180px;float: left;width:100%;}
.content-zixun .content-zixun-on{background: #e5e5e5;}
.content-zixun ul li{float: left;margin-top:20px;margin-left:90px;width:510px;}
.content-zixun ul li h4{font-weight: bold;}
.content-zixun ul li p{font-size: 13px;}
.content-zixun ul li a div{width:80px;height:20px;line-height:20px;border:1px solid #3b9938;font-size: 13px;text-align: center;margin-left: 5px;border-radius: 5px;color: black;margin-top: 5px;}
.content-zixun ul li div:hover{background:#3B9938;color:#fff;}
.content-zixun ul img{float: left;margin-left:25px;margin-top:20px;}
/*最新资讯结束*/
/*媒体报告开始*/
.mtbg-list{}
.mtbg-list ul{width:410px;float:left;margin-left:45px;margin-bottom:30px;border:1px solid #ccc;background: #fff;}
.mtbg-list ul img{width:400px;margin:3px 5px 2px 5px;}
.mtbg-list ul li h3{width:365px;height:22px;line-height:22px;margin-left: 25px; border-bottom:1px solid #ccc;}
.mtbg-list ul li h3 i{text-indent:18px;background:url("../images/time-icon.png") 0 center no-repeat;float:right;font-size: 12px;}
.mtbg-list ul li p{width:365px;margin-left: 25px;margin-bottom:5px;font-size: 12px;line-height: 20px;}
/*媒体报告结束*/
/*联系我们结束*/
.content-main .lxwm{width:100%;}
.content-main .lxwm p{text-align: center;line-height: 30px;}
.content-main .lxwm p img{margin-top: 40px;}
/*联系我们结束*/